#data_IJGI18
#.ipynb_checkpoints
#data
#localdata
#.idea
#P100
#log
#doc
#eval
#tmp
#modelzoo

*
!modelzoo
modelzoo/*
!modelzoo/seqencmodel.py
utils/*
!utils/__init__.py
!utils/interactive_plotting.py
!utils/convrnn/*

!evaluate.py
!Dataset.py
!init_graph.py
!S2parser.py
!train.py
!2018_IJGI.ipynb
!copy_network_weights.py
!compare_graphs.py
!activations.py
!NetworkVisualization.ipynb
